body {
    margin: 0;
    padding: 20px;
    background-color: rgb(228, 228, 228);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
.nav-bar {
    background: linear-gradient(125deg, white 0%, grey 100%);
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.button-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.button-navbar a {
    background-color: transparent;
    color: black;
    border: none;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 22px;
    margin: 4px 20px;
    transition: background-color 0.5s ease, transform 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.button-navbar a:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.2);
}
.main-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;   
}
.profile-card {
    margin: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    background: linear-gradient(290deg, white 0%, grey 100%);
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-card-image {
    margin-bottom: 15px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-card-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.profile-card-image img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.social-media-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-media-buttons a {
    display: inline-flex;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
    margin: 22px;
}
.social-media-buttons a svg {
    display: block;
}
.social-media-buttons a:hover {
    transform: scale(1.2);
}
.about-me {
    margin-bottom: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    background: linear-gradient(290deg, white 0%, grey 100%);
    font-size: 16px;
    line-height: 1.6;
}
.about-me h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.about-me p {
    font-size: 16px;
}
.what-i-do {
    margin-bottom: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: auto;
    background: linear-gradient(290deg, white 0%, grey 100%);
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}
.what-i-do h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.what-i-do ul {
    list-style-type: none;
    padding-left: 20px;
}
.my-goals {
    margin-bottom: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: auto;
    background: linear-gradient(290deg, white 0%, grey 100%);
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}
.my-goals h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.my-goals ul {
    list-style-type: none;
    padding-left: 20px;
}
.contact {
    margin-bottom: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: auto;
    background: linear-gradient(290deg, white 0%, grey 100%);
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}
.contact h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.back-to-top {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.back-to-top a {
    background-color: rgb(206, 206, 206);
    color: black;
    border: none;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 22px;
    margin: 4px 20px;
    transition: background-color 0.5s ease, transform 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.back-to-top a:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.2);
}